.div {
    position: relative;
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  .input[type="number"]::-webkit-inner-spin-button,
  .input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .input {
    font-size: 1.7em;
  }
  .input {
    resize: none;
    font-family: 'Aleo', serif;
    text-align: left;
    background: transparent;
    border: var(--clr-inActive) 0.125em solid;
    border-radius: 0.25em;
    box-shadow: 0 0 0.1em 0 var(--clr-inActive),
      inset 0 0 0.1em 0 var(--clr-inActive);
    color: var(--clr-inActive);
    transition: 
      border 250ms linear,
      box-shadow 250ms linear,
      color 250ms linear,
      ;
      width: 100%;
      padding:0.1em 0;
  }
  
  .input::placeholder {
    color: var(--clr-inActive);
    transition: color 250ms linear;
  }
  
  .input:focus::placeholder {
    color: var(--clr-neon-placeholder);
  }
  
  .input:focus {
    outline: none;
    color: var(--clr-neon-white);
    border: var(--clr-neon-white) 0.125em solid;
    box-shadow: 0 0 0.4em 0 var(--clr-neon-white),
      inset 0 0 0.4em 0 var(--clr-neon-white);
  }
  
  .up:hover::before,
  .up:hover::after,
  .down:hover::before,
  .down:hover::after {
    background-color: var(--clr-neon-white);
  }
  
  .invalid {
      border: var(--clr-neon-invalid) 0.125em solid;
      box-shadow: 0 0 0.1em 0 var(--clr-neon-invalid),
        inset 0 0 0.1em 0 var(--clr-neon-invalid);
      color: var(--clr-neon-invalid);
    }
    
    .invalid::placeholder {
      color: var(--clr-neon-invalid);
    }
    
    .invalid:focus::placeholder {
      color: var(--clr-neon-invalid);
    }
  
  .valid {
    border: var(--clr-neon-blue) 0.125em solid;
    box-shadow: 0 0 0.4em 0 var(--clr-neon-blue),0 0 0.1em 0 var(--clr-neon-white),
      inset 0 0 0.4em 0 var(--clr-neon-blue), inset 0 0 0.1em 0 var(--clr-neon-white)
      ;
    color: var(--clr-neon-blue);
  }
  
  .valid::placeholder {
    color: var(--clr-neon-blue);
  }
  
  .invalid:focus::placeholder {
    color: var(--clr-neon-blue);
  }
  
  @media (max-width: 1400px) {
    .input {
      font-size: 1em;
    }
  }
  