.Note {
  background-color: var(--clr-background);
  color: var(--clr-neon-placeholder);
  border: 1px var(--clr-neon-placeholder) solid;
  box-shadow: inset 0 0 0.2em 0 var(--clr-neon-cyan),
    inset 0 0 0.8em 0 var(--clr-neon-blue), 0 0 0.2em 0 var(--clr-neon-cyan),
    0 0 0.8em 0 var(--clr-neon-blue);
  border-radius: 40px;
  width: 250px;
  height: 180px;
  position: fixed;
  bottom: 35px;
  right: 35px;
  z-index: 800;
  text-align: center;
  justify-content: center;
  display: flex;
  transition: all 160ms linear;
}

.Note>.text{
  text-align: center;
  align-items: center;
  max-width: 180px;
  height: 70px;
  display: flex;
  position: absolute;
  top:30px;
}
.Note>.text>p{
  font-size: 1.5em;
}
.NoteOpen {
  animation: openNote 0.16s linear forwards;
}

@keyframes openNote {
  0% {
    transform: translateX(100%);
  }
  80% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
  }
}

.NoteClose {
  animation: closeNote 0.16s linear forwards;
}

@keyframes closeNote {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.LoadingBar {
  width: 86%;
  height: 3px;
  position: absolute;
  right: 7%;
  bottom: 25%;
  text-align: right;
}
.Bar {
  transform: scaleX(0);
  width: 100%;
  background-color: var(--clr-neon-blue);
  position: absolute;
  right: 0;
  height: 100%;
  transition: all 3s linear;
  box-shadow: 0 0 0.8em 0 var(--clr-neon-blue),
    0 0 0.2em 0 var(--clr-neon-blue);
}

.BarClose {
  animation: noteClosing 3s linear forwards;
}
@keyframes noteClosing {
  0% {
    transform: scaleX(1);
    right: 0;
  }
  100% {
    transform: scaleX(0);
    right: 0;
  }
}

@media (max-width:1400px) {
  .Note {
    border-radius: 30px;
    width: 220px;
    height: 105px;
    bottom: 20px;
    right: 20px;
  }
  .Note>.text{
    max-width: 180px;
    height: 60px;
    top:10px
  }
  .LoadingBar {
    width: 86%;
    height: 3px;
    position: absolute;
    right: 7%;
    bottom: 25%;
    text-align: right;
  }
  .Note>.text>p{
    font-size: 1.2em;
  }
}